/* Just for demo */
body {
  font-family: Arial, sans-serif;
}

main {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 3em;
  letter-spacing: -.02em;
}

p {
  color: #555;
  margin-bottom: 2em;
  line-height: 1.8em;
}

/* Snakke Bar */
.snakke-bar {
  /* Required */
  position: fixed;
  top: 0;
  left: 0;
  transition: width .3s ease;
  /* Below, your bar style */
  height: 5px;
  background: #2ecc71;
}
